@charset "UTF-8";

/*=========================================================
  ListFilter
=========================================================*/
.ListFilter{
	padding-top:2.5625rem;
	padding-bottom:0.625rem;
	background-color:#fff;
	position:fixed;
	top:0;
	left:0;
	right:0;
	box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.14);
	z-index:1000;
}

/*=========================================================
  ListFilter:ListFilterSearch
=========================================================*/
.ListFilterSearch{
	position:relative;
	padding:0.5rem 3.125rem;
	padding-right:9.375rem;
	border-bottom:solid 0.0625rem #000;
}

body .ListFilterSearch-submit{
	width:1.625rem;
	height:1.625rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	z-index:5;
	background-image:url(../images/icon/ico_search.svg);
	background-size:1.625rem 1.625rem;
	font-size:0px;
	line-height:0;
	cursor:pointer;
}

body .ListFilterSearch-text{
	display:block;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:1rem;
	line-height:normal;
	color:#000;
	font-weight:bold;
	height:1.375rem;
}

.ListFilterSearch-date{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	font-size:0.75rem;
	line-height:1.2em;
	color:#666666;
	font-weight:normal;
}

body .ListFilterSearch-close{
	width:1.25rem;
	height:1.25rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	z-index:5;
	background-image:url(../images/icon/ico_search_close.svg);
	background-size:1.25rem 1.25rem;
	font-size:0px;
	line-height:0;
	cursor:pointer;
	display:none;
}

/* Action
=========================================================*/
.is-Focus .ListFilterSearch{
	padding-right:3.125rem;
}

.is-Focus .ListFilterSearch .ListFilterSearch-close{
	display:block;
}

.is-Focus .ListFilterSearch .ListFilterSearch-date{
	display:none;
}

/*=========================================================
  ListFilter:ListFilterValue
=========================================================*/
.ListFilterValue{
	margin-top:0.625rem;
}

.ListFilter.is-Up .ListFilterValue{
	display:none;
}

.is-None.ListFilterValue{
	display:none;
}

.ListFilterValue-list:after{
	content:"";
	display:table;
	clear:both;
}

.ListFilterValue-list{
	margin:0 -0.25rem;
}

.ListFilterValue-item{
	width:50%;
	float:left;
	padding:0 0.25rem;
}

body .ListFilterValueItem{
	font-size:12px;
	line-height:1.2em;
	color:#000;
	padding: 0.5625rem 0.5rem 0.5625rem 2.25rem;
	border-radius:0.25rem;
	background-color:#f8f8f8;
	display:block;
	position:relative;
	width:100%;
	text-align:left;
}

body .ListFilterValueItem:before{
	content:"";
	width:1.25rem;
	height:1.25rem;
	position:absolute;
	top:50%;
	left:8px;
	transform:translateY(-50%);
	background-size:1.25rem 1.25rem;
}

body .ListFilterValueItem.icoDate:before{
	background-image:url(../images/icon/ico_calender.svg);
}

body .ListFilterValueItem.icoPersonnel:before{
	background-image:url(../images/icon/ico_user.svg);
}

/*=========================================================
  ListFilter:ListFilterButton
=========================================================*/
.ListFilterButton{
	margin-top:0.625rem;
	font-size:0;
	line-height:0;
	text-align:right;
}

.is-Focus .ListFilterButton{
	display:none;
}

.ListFilterButton-list{
	margin:0 -0.125rem;
	font-size:0;
	line-height:0;
}

.ListFilterButton-list:after{
	content:"";
	display:table;
	clear:both;
}

.ListFilterButton-item{
	display:block;
	padding:0 0.125rem;
	width:50%;
	float:left;
	position:relative;
}

.ListFilterButton-item:first-child:after{
	content:"";
	width:0.0625rem;
	height:1.5rem;
	background-color:rgba(0,0,0,0.1);
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

body .ListFilterButton-filter{
	border-radius: 1rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	padding: 0.5rem 0.625rem 0.5rem 1.75rem;
	position:relative;
	width:100%;
	text-align:center;
}

body .ListFilterButton-filter:before{
	content:"";
	width:0.875rem;
	height:0.875rem;
	position:absolute;
	top:50%;
	left:calc(50% - 1.4rem);
	transform:translateY(-50%);
	background-image:url(../images/icon/ico_filter.svg);
	background-size:0.875rem 0.875rem;
}

body .ListFilterButtonItem-select{
	border-radius: 1rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	padding: 0.5rem 1.875rem 0.5rem 0.625rem;
	position:relative;
	text-align:left;
	background-image:url(../images/icon/ico_search_arrow.svg);
	background-position:calc(50% + 1.625rem) center;
	background-repeat:no-repeat;
	background-size:0.875rem 0.875rem;
	cursor:pointer;
	width:100%;
	text-align:center;
}

/*=========================================================
  MapFixButton
=========================================================*/
.MapFixButton{
	position:fixed;
	bottom:2.5rem;
	left:50%;
	transform:translateX(-50%);
	border-radius: 2.25rem;
	border: solid 0.0625rem #e0e0e0;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	padding: 0.625rem 1.1875rem 0.625rem 2.3125rem;
	background-color:#fff;
	z-index:800;
}

body .MapFixButton:before{
	content:"";
	width:0.875rem;
	height:0.875rem;
	position:absolute;
	top:50%;
	left:1.1875rem;
	transform:translateY(-50%);
	background-image:url(../images/icon/ico_map.svg);
	background-size:0.875rem 0.875rem;
}

/*=========================================================
  ProductList
=========================================================*/
.ProductList{
	padding-top:12.125rem;
	padding-bottom:11.25rem;
}

.ProductList-item{
	margin-top:1rem;
}

.ProductList-item:first-child{
	margin-top:0;
}

/*=========================================================
  ProductList:item
=========================================================*/
.ProductItem{
	position:relative;
	overflow:hidden;
	border-radius:0.9375rem;
	box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.ProductItem-address{
	position:absolute;
	top:0.625rem;
	left:1rem;
	right:1rem;
	font-size:0.625rem;
	line-height:1.2em;
	color:#fff;
	font-weight:500;
	padding-left:1rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	z-index:5;
}

.ProductItem-address:before{
	content:"";
	width:0.75rem;
	height:0.75rem;
	background-image:url(../images/icon/ico_pin.svg);
	background-size:0.75rem 0.75rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

.ProductItemCont{
	padding:0.75rem 1rem;
}

.ProductItemMeta{
	margin-bottom:0.8125rem;
	font-size:0;
	line-height:0;
}

.ProductItemMeta:after{
	content:"";
	display:table;
	clear:both;
}

.ProductItemMeta-item{
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	font-weight:500;
	display:inline-block;
	padding-right:0.5rem;
	margin-right:0.5rem;
	position:relative;
}

.ProductItemMeta-item:after{
	content:"";
	width:0.0625rem;
	height:0.625rem;
	background-color:#6f6f6f;
	opacity:0.5;
	position:absolute;
	top:50%;
	right:0;
	margin-top:0.0625rem;
	transform:translateY(-50%);
}

.ProductItemMeta-item:last-child{
	padding-right:0;
	margin-right:0;
}

.ProductItemMeta-item:last-child:after{
	display:none;
}

.ProductItemMeta-item.icoHotel{
	padding-left:1.125rem;
}

.ProductItemMeta-item.icoHotel:before{
	content:"";
	width:1rem;
	height:1rem;
	background-image:url(../images/icon/ico_hotel.svg);
	background-size:1rem 1rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

.ProductItemCont-link{
	display:block;
}

.ProductItemTitle{
	margin-bottom:0.125rem;
	font-size:1rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}

.ProductItemGrade{
	margin-top:0.375rem;
	font-size:0;
	line-height:0;
}

.ProductItemGrade-current{
	padding-left:1.5rem;
	position:relative;
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
}

.ProductItemGrade-current:before{
	content:"";
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_star.svg);
	background-size:1.25rem 1.25rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}


.ProductItemGrade-total{
	margin-left:2px;
	font-size:14px;
	line-height:1.2em;
	color:#000;
}

.ProductItemFilter{
	font-size:0;
	line-height:0;
	margin-top:0.625rem;
}

.ProductItemFilter:after{
	content:"";
	display:table;
	clear:both;
}

.ProductItemFilter-item{
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	font-weight:500;
	display:inline-block;
	padding-right:0.3125rem;
	margin-right:0.3125rem;
	position:relative;
}

.ProductItemFilter-item:after{
	content:"";
	width:0.0625rem;
	height:0.625rem;
	background-color:#6f6f6f;
	opacity:0.5;
	position:absolute;
	top:50%;
	right:0;
	margin-top:0.0625rem;
	transform:translateY(-50%);
}

.ProductItemFilter-item:last-child{
	padding-right:0;
	margin-right:0;
}

.ProductItemFilter-item:last-child:after{
	display:none;
}

.ProductItemPrice{
	margin-top:1.125rem;
	display:table;
	width:100%;
}

.ProductItemPrice-current{
	display:table-cell;
	vertical-align:middle;
	width:0.0625rem;
	white-space:nowrap;
	font-size:1.25rem;
	line-height:1.2em;
	color:#6957e8;
	font-weight:bold;
	font-family:'Roboto',"Noto Sans KR";
	padding-right:0.5rem;
}

.ProductItemPrice-condition{
	display:table-cell;
	vertical-align:middle;
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	font-weight:normal;
}

/*=========================================================
  ProductList:Slide
=========================================================*/
.ProductSlide{
	position:relative;
}

.ProductSlide-thumb{
	width:100%;
}

.ProductSlide-link{
	display:block;
	overflow:hidden;
	line-height:0;
	position:relative;
}

.ProductSlide-link:after{
	content:"";
	display:block;
	padding-bottom:42%;
}

.ProductSlide-link:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:40%;
	opacity: 0.6;
	mix-blend-mode: multiply;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000 31%);
	z-index:1;
}

.ProductSlide-link img{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
}

.ProductSlide-pagination{
	position:absolute;
	bottom:0.625rem;
	left:50%;
	transform:translateX(-50%);
	z-index:10;
	text-align:center;
	font-size:0;
	line-height:0;
}

.ProductSlide-pagination .swiper-pagination-bullet{
	width:0.3125rem;
	height:0.3125rem;
	border-radius:100%;
	background-color:#fff;
	display:inline-block;
	margin:0 0.125rem;
}

.ProductSlide-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color:#6957e8;
}

/*=========================================================
  Single:Header
=========================================================*/
.site-header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.08);
	background-color: #fff;
	z-index:1000;
}

.Header-inner{
	padding:1.375rem 4.0625rem 1.375rem;
	position:relative;
	height:3.75rem;
}

.HeaderTitle{
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
}

.HeaderBack{
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_header_back.svg);
	background-size:1.25rem 1.25rem;
}

.HeaderShare{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	width:1.375rem;
	height:1.375rem;
}

.HeaderShare-button{
	width:1.375rem;
	height:1.375rem;
	background-image:url(../images/icon/ico_header_share.svg);
	background-size:1.375rem 1.375rem;
	display:block;
}

.Transparent.is-Transparent.site-header{
	background-color:transparent;
	box-shadow:none;
}

.Transparent.is-Transparent .HeaderBack{
	background-image:url(../images/icon/ico_header_back_white.svg);
}

.Transparent.is-Transparent .HeaderShare-button{
	background-image:url(../images/icon/ico_header_share_white.svg);
}

.Transparent.is-Transparent .HeaderTitle{
	display:none;
}

/*=========================================================
  ResultPage
=========================================================*/
.ResultPage{
	padding-top:3.75rem;
	padding-bottom:0;
	overflow:hidden;
}

/*=========================================================
  DetailHeader
=========================================================*/
.DetailHeader{
	padding:2rem 0 2rem;
	background-color:#fff;
	margin-bottom:0.5rem;
}

.DetailHeaderMeta{
	margin-bottom:0.8125rem;
	font-size:0;
	line-height:0;
}

.DetailHeaderMeta:after{
	content:"";
	display:table;
	clear:both;
}

.DetailHeaderMeta-item{
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	font-weight:500;
	display:inline-block;
	padding-right:0.5rem;
	margin-right:0.5rem;
	position:relative;
}

.DetailHeaderMeta-item:after{
	content:"";
	width:0.0625rem;
	height:0.625rem;
	background-color:#6f6f6f;
	opacity:0.5;
	position:absolute;
	top:50%;
	right:0;
	margin-top:0.0625rem;
	transform:translateY(-50%);
}

.DetailHeaderMeta-item:last-child{
	padding-right:0;
	margin-right:0;
}

.DetailHeaderMeta-item:last-child:after{
	display:none;
}

.DetailHeaderMeta-item.icoHotel{
	padding-left:1.125rem;
}

.DetailHeaderMeta-item.icoHotel:before{
	content:"";
	width:1rem;
	height:1rem;
	background-image:url(../images/icon/ico_hotel.svg);
	background-size:1rem 1rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

.DetailHeaderTitle{
	margin-bottom:0.125rem;
	font-size:1.125rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}

.DetailHeaderInfo{
	margin-top:0.725rem;
}

.DetailHeaderInfoAddress{
	position:relative;
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	font-weight:500;
	padding-left:1.125rem;
}

.DetailHeaderInfoAddress:before{
	content:"";
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	width:0.75rem;
	height:0.75rem;
	background-image:url(../images/icon/ico_gray_pin.svg);
	background-size:0.75rem 0.75rem;
}

.DetailHeaderInfoFilter{
	margin-top:0.375rem;
	font-size:0;
	line-height:0;
	padding-left:1.125rem;
	position:relative;
}

.DetailHeaderInfoFilter:before{
	content:"";
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	width:0.75rem;
	height:0.75rem;
	background-image:url(../images/icon/ico_gray_user.svg);
	background-size:0.75rem 0.75rem;
}

.DetailHeaderInfoFilter:after{
	content:"";
	display:table;
	clear:both;
}

.DetailHeaderInfoFilter-item{
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	font-weight:500;
	display:inline-block;
	padding-right:0.3125rem;
	margin-right:0.3125rem;
	position:relative;
}

.DetailHeaderInfoFilter-item:after{
	content:"";
	width:0.0625rem;
	height:0.625rem;
	background-color:#6f6f6f;
	opacity:0.5;
	position:absolute;
	top:50%;
	right:0;
	margin-top:0.0625rem;
	transform:translateY(-50%);
}

.DetailHeaderInfoFilter-item:last-child{
	padding-right:0;
	margin-right:0;
}

.DetailHeaderInfoFilter-item:last-child:after{
	display:none;
}

.DetailHeaderGrade{
	margin-top:0.375rem;
	font-size:0;
	line-height:0;
}

.DetailHeaderGrade-current{
	padding-left:1.5rem;
	position:relative;
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
}

.DetailHeaderGrade-current:before{
	content:"";
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_star.svg);
	background-size:1.25rem 1.25rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}


.DetailHeaderGrade-link{
	margin-left:14px;
	font-size:12px;
	line-height:1.2em;
	color:#000;
	padding-right:16px;
	position:relative;
}

.DetailHeaderGrade-link:after{
	content:"";
	width:6px;
	height:6px;
	border-top:solid 1px #000;
	border-right:solid 1px #000;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%) rotate(45deg);
	margin-top:1px;
}

/*=========================================================
  DetailPayment
=========================================================*/
.DetailPayment{
	background-color:#fff;
	margin-bottom:0.5rem;
}

.DetailPaymentDate{
	padding:1.625rem 3.375rem 1.625rem 0.625rem;
	position:relative;
	font-size:0;
	line-height:0;
	border-bottom:solid 0.0625rem #e9e9e9;
}

body .DetailPaymentDate-button{
	border:solid 0.0625rem #c4c4c4;
	padding: 0.4375rem 0.875rem;
	border-radius: 0.25rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.DetailPaymentDate-schedule{
	display:inline-block;
	padding-right:0.875rem;
	margin-right:0.8125rem;
	position:relative;
	padding-left:2.5rem;
	font-size:0.875rem;
	line-height:1.3em;
	font-weight:bold;
	color:#6957e8;
}

.DetailPaymentDate-schedule:before{
	content:"";
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	width:1.875rem;
	height:1.875rem;
	background-image:url(../images/icon/ico_color_cal.svg);
	background-size:1.875rem 1.875rem;
}

.DetailPaymentDate-schedule:after{
	content:"";
	width:0.0625rem;
	height:0.75rem;
	background-color:#6f6f6f;
	opacity:0.6;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.DetailPaymentDate-day{
	font-size:0.875rem;
	line-height:1.3em;
	font-weight:bold;
	color:#6f6f6f;
}

.DetailPaymentFree{
	padding:1.875rem 0 2.1875rem;
}

.DetailPaymentFree-inner{
	display:table;
	width:100%;
}

.DetailPaymentFreeTotal{
	display:table-cell;
	vertical-align:top;
	width:1%;
	padding-right:2.5625rem;
	white-space:nowrap;
}

.DetailPaymentFreeList{
	display:table-cell;
	vertical-align:top;
}

.DetailPaymentFreeTotal-title{
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	margin-bottom:0.625rem;
}

.DetailPaymentFreeTotal-price{
	font-size:1.25rem;
	line-height:1.2em;
	color:#6957e8;
	font-weight:bold;
	font-family:'Roboto',"Noto Sans KR";
}

.DetailPaymentFreeList-title{
	font-size:0.75rem;
	line-height:1.2em;
	color:#a5a5a5;
	font-weight:500;
	margin-bottom:1.0625rem;
}

.DetailPaymentFreeList-price{
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-family:'Roboto',"Noto Sans KR";
}

.DetailPaymentFreeList-list{
	overflow:hidden;
	margin:0 -1.25rem;
}

.DetailPaymentFreeList-item{
	padding:0 1.25rem;
	float:left;
	position:relative;
}

.DetailPaymentFreeList-item:after{
	content:"+";
	font-size:0.75rem;
	line-height:#000;
	position:absolute;
	top:50%;
	right:-3px;
	transform:translateY(-50%);
}

.DetailPaymentFreeList-item:last-child:after{
	display:none;
}


/*=========================================================
  BttonFixButton
=========================================================*/
.BttonFixButton{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
	padding:1.25rem 0;
	z-index:1000;
}

body .BttonFixButton-button{
	padding: 1.0625rem 0.9375rem;
	border-radius: 0.25rem;
	background-color: #6957e8;
	color:#fff;
	display:block;
	font-size:0.875rem;
	line-height:1.2em;
	font-weight:500;
	text-align:center;
	width:100%;
}

/*=========================================================
  DetailInfo
=========================================================*/
.DetailInfo{
	background-color:#fff;
	padding:1.875rem 0 0;
	margin-bottom:0.625rem;
}

.DetailInfoItem{
	margin-top:1.875rem;
}

.DetailInfoItem:first-child{
	margin-top:0;
}

.DetailInfoItem-title{
	font-size:1rem;
	line-height:1.4em;
	color:#000;
	font-weight:500;
	margin-bottom:0.9375rem;
}

.DetailInfoItem-text{
	font-size:0.875rem;
	line-height:1.6em;
	color:#6f6f6f;
}

.DetailInfoItem-item{
	font-size:0.875rem;
	line-height:1.6em;
	color:#6f6f6f;
	padding-left:0.625rem;
	position:relative;
}

.DetailInfoItem-item:before{
	content:"-";
	position:absolute;
	top:0;
	left:0;
}

.DetailInfoItem-map{
	position:relative;
	margin-left:-1rem;
	margin-right:-1rem;
}

.DetailInfoItem-map:after{
	content:"";
	display:block;
	padding-bottom:54%;
}

.DetailInfoItem-map iframe{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}

.DetailPaymentPersonnel{
	padding:1.625rem 3.375rem 1.625rem 0.625rem;
	position:relative;
	font-size:0;
	line-height:0;
	border-bottom:solid 0.0625rem #e9e9e9;
}

body .DetailPaymentPersonnel-button{
	border:solid 0.0625rem #c4c4c4;
	padding: 0.4375rem 0.875rem;
	border-radius: 0.25rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.DetailPaymentPersonnel-schedule{
	display:inline-block;
	padding-right:0.875rem;
	margin-right:0.8125rem;
	position:relative;
	padding-left:2.5rem;
	font-size:0.875rem;
	line-height:1.3em;
	font-weight:bold;
	color:#6957e8;
}

.DetailPaymentPersonnel-schedule:before{
	content:"";
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	width:1.875rem;
	height:1.875rem;
	background-image:url(../images/icon/ico_personnel.svg);
	background-size:1.875rem 1.875rem;
}

/*=========================================================
  DetailReview
=========================================================*/
.DetailReview{
	margin-bottom:6.25rem;
	background-color:#fff;
}

.DetailReview-link{
	display:block;
	padding:0.9375rem 0;
	position:relative;
}

.DetailReview-link:after{
	content:"";
	display:table;
	clear:both;
}

.DetailReview-link:before{
	content:"";
	width:0.625rem;
	height:0.625rem;
	border-top:solid 0.0625rem #000;
	border-right:solid 0.0625rem #000;
	position:absolute;
	top:50%;
	right:1.5625rem;
	transform:translateY(-50%) rotate(45deg);
}

.DetailReview-score{
	float:left;
	margin-right:1.25rem;
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
	padding-left:1.375rem;
	position:relative;
}

.DetailReview-score:before{
	content:"";
	width:1.0625rem;
	height:1.0625rem;
	background-image:url(../images/icon/ico_star.svg);
	background-size:1.0625rem 1.0625rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

.DetailReview-title{
	overflow:hidden;
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
}

/*=========================================================
  SinglePage
=========================================================*/
.SinglePage{
	overflow:hidden;
}

/*=========================================================
  SinglePage:Slide
=========================================================*/
.DetailSlide{
	position:relative;
}

.DetailSlide-thumb{
	width:100%;
	display:block;
	overflow:hidden;
	line-height:0;
	position:relative;
}

.DetailSlide-thumb:after{
	content:"";
	display:block;
	padding-bottom:69%;
}

.DetailSlide-thumb:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:40%;
	opacity: 0.6;
	mix-blend-mode: multiply;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000 27%);
	z-index:1;
}

.DetailSlide-thumb img{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
}

.DetailSlide-pagination{
	position:absolute;
	bottom:0.625rem;
	left:50%;
	transform:translateX(-50%);
	z-index:10;
	text-align:center;
	font-size:0;
	line-height:0;
}

.DetailSlide-pagination .swiper-pagination-bullet{
	width:0.3125rem;
	height:0.3125rem;
	border-radius:100%;
	background-color:#fff;
	display:inline-block;
	margin:0 0.125rem;
}

.DetailSlide-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color:#6957e8;
}

/*=========================================================
  CalenderPop
=========================================================*/
.CalenderPop{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2000;
	background-color:#f8f8f8;
	transform:translateY(110%);
	transition-property:transform; 
	transition-duration: 0.3s;
}

.CalenderPop.is-View{
	transform:translateY(0);
}

/*=========================================================
  CalenderPop:header
=========================================================*/
.CalenderPopHeader{
	position:absolute;
	top:0;
	left:0;
	right:0;
	background-color:#fff;
	box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.08);
	z-index:10;
}

.CalenderPopHeaderTitle{
	position:relative;
	padding:1.5625rem 2.5rem;
}

.CalenderPopHeaderTitle-title{
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
	text-align:center;
}

.CalenderPopHeaderTitle-close{
	width:1.375rem;
	height:1.375rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	background-image:url(../images/icon/ico_close_black.svg);
	background-size:1.375rem 1.375rem;
}

.CalenderHeader{
	padding:0.3125rem 0 0.625rem;
	display: flex;
    justify-content: center;
}


.CalenderHeader-day{
	width:14.2857%;
	text-align:center;
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
}

.CalenderHeader-day:first-child{
	color:#f10000;
}

.CalenderHeader-day:last-child{
	color:#0066ff;
}

/*=========================================================
  CalenderPop:footer
=========================================================*/
.CalenderPopFooter{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	box-shadow: 0 -0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
	z-index:10;
}

.CalenderPopFooterCheck{
	padding:1.25rem 0 0.625rem;
	position:relative;
}

.CalenderPopFooterCheck:before{
	content:"";
	width:2.125rem;
	height:2.125rem;
	position:absolute;
	bottom:0.3125rem;
	left:50%;
	transform:translateX(-50%);
	background-image:url(../images/icon/ico_check_arrow.svg);
	background-size:2.125rem 2.125rem;
}

.CalenderPopFooterCheck:after{
	content:"";
	display:table;
	clear:both;
}

.CalenderPopFooterCheck-item.Start{
	float:left;
}

.CalenderPopFooterCheck-item.End{
	float:right;
	text-align:right;
}

.CalenderPopFooterCheck-day{
	font-size:1rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
}

.CalenderPopFooterCheck-text{
	font-size:1.25rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
	font-family:'Roboto',"Noto Sans KR";
	margin-right:0.3125rem;
}

.CalenderPopFooterCheck-title{
	font-size:0.75rem;
	line-height:1.2em;
	color:#666;
	margin-bottom:0.125rem;
}

.CalenderPopFooterBtn{
	padding:1.25rem 0;
}

.CalenderPopFooterBtn-button{
	padding: 1.0625rem 0.9375rem;
    border-radius: 0.25rem;
    background-color: #6957e8;
    color: #fff;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.CalenderPopFooterinfo{
	padding: 1.0625rem 0.9375rem;
    border-radius: 0.25rem;
    background-color: #f8f8f8;
    color: #a5a5a5;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.CalenderPopFooter-title{
	font-size:1rem;
	line-height:1.5em;
	color:#000;
	font-weight:bold;
}

/*=========================================================
  CalenderPop:Body
=========================================================*/
.CalenderPopBody{
	padding-top:8.125rem;
	padding-bottom:11.25rem;
	overflow:hidden;
	overflow-y:auto;
	height:100%;
    scrollbar-width: none;
}

.CalenderPopBody::-webkit-scrollbar {
    display: none;
}

/*=========================================================
  CheckCalender
=========================================================*/
.CheckCalender{
	margin-bottom:1.75rem;
}

.CheckCalender:last-child{
	margin-bottom:0;
}

.CheckCalenderHeader{
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
	text-align:center;
	margin-bottom:0.9375rem;
}

.CheckCalenderBody-row{
	display: flex;
    justify-content: center;
}

.CheckCalenderBody-col{
	width:14.2857%;
	text-align:center;
	position:relative;
}

.CheckCalenderBody-item{
	width:100%;
	height:40px;
	border:solid 0.0625rem transparent;
	border-left:none;
	border-right:none;
}

.CheckCalenderBody-text{
	font-size:1rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	font-family:'Roboto',"Noto Sans KR";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.CheckCalenderBody-col:first-child .CheckCalenderBody-text{
	color:#f10000;
}

.CheckCalenderBody-col:last-child .CheckCalenderBody-text{
	color:#0066ff;
}


/*Start*/
.is-Start .CheckCalenderBody-item{
	background-color:#fff;
	border-color:#5f7bff;
	border-left:solid 1px #5f7bff;
	border-radius:2.5rem 0 0 2.5rem;
	box-shadow: 0px 0.125rem 0px rgb(0 0 0 / 10%);
}

.is-Start.is-Checking .CheckCalenderBody-item{
	border-right:solid 1px #5f7bff;
	border-radius:2.5rem 2.5rem;
}

.is-Start .CheckCalenderBody-text{
	color:#5f7bff;
}

/*End*/
.is-End .CheckCalenderBody-item{
	background-color:#fff;
	border-color:#5f7bff;
	border-right:solid 1px #5f7bff;
	border-radius:0 2.5rem 2.5rem 0;
	box-shadow: 0px 0.125rem 0px rgb(0 0 0 / 10%);
}

.is-End .CheckCalenderBody-text{
	color:#5f7bff;
}

/*Long*/
.is-Long .CheckCalenderBody-item{
	background-color:#fff;
	border-color:#5f7bff;
	box-shadow: 0px 0.125rem 0px rgb(0 0 0 / 10%);
}

.is-Long .CheckCalenderBody-text{
	color:#5f7bff;
}

/*=========================================================
  Total Search
=========================================================*/
.TotalSearch{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:900;
	background-color:#fff;
	padding:8.125rem 0 3.125rem;
	overflow:hidden;
	overflow-y:auto;
	display:none;
}

.is-Focus.TotalSearch{
	display:block;
}

.TotalSearch-noTag{
	padding:5rem 2.625rem 0;
	font-size:0.875rem;
	line-height:1.4em;
	color:#6f6f6f;
	text-align:center;
}


/*=========================================================
  Total Search:최근검색어
=========================================================*/
.TotalSearchRecent{
	padding:1.875rem 0 0;
	
}

.TotalSearchRecentHeader{
	margin-bottom:1.875rem;
	position:relative;
}

.TotalSearchRecentHeader-title{
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}

body .TotalSearchRecentHeader-close{
	font-size:0.75rem;
	line-height:1.4em;
	color:#000;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.TotalSearchRecentList-item{
	margin-top:1.25rem;
	position:relative;
}

.TotalSearchRecentList-item:first-child{
	margin-top:0;
}

.TotalSearchRecentList-link{
	display:block;
	position:relative;
	padding-left:1.625rem;
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:calc(100% - 1.625rem);
}

.TotalSearchRecentList-link:before{
	content:"";
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_time.svg);
	background-size:1.25rem 1.25rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

body .TotalSearchRecentList-del{
	content:"";
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_del.svg);
	background-size:1.25rem 1.25rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.TotalSearchRecent-noTag{
	font-size:0.875rem;
	line-height:1.4em;
	color:#6f6f6f;
	text-align:center;
}

/*=========================================================
  Total Search:관련검색어
=========================================================*/
.TotalSearchRelated{
	padding:1.875rem 0 0;
	
}

.TotalSearchRelatedHeader{
	margin-bottom:1.875rem;
	position:relative;
}

.TotalSearchRelatedHeader-title{
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}


.TotalSearchRelatedList-item{
	margin-top:1.0625rem;
	position:relative;
}

.TotalSearchRelatedList-item:first-child{
	margin-top:0;
}

.TotalSearchRelatedList-link{
	display:block;
	position:relative;
	padding-left:1.625rem;
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.TotalSearchRelatedList-link mark{
	color:#6957e8;
	background:none;
}

.TotalSearchRelatedItem{
	margin-top:1.875rem;
}

.TotalSearchRelatedItem:first-child{
	margin-top:0px;
}

.TotalSearchRelatedItemTitle{
	position:relative;
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	margin-bottom:1.25rem;
	padding-left:1.625rem;
}

.TotalSearchRelatedItemTitle:before{
	content:"";
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_related.svg);
	background-size:1.25rem 1.25rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

/*=========================================================
  FilterPop
=========================================================*/
.FilterPop{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	top:0;
	z-index:1100;
	transition-property:opacity, visibility; 
	transition-duration: 0.3s;
	opacity:0;
	visibility:hidden;
}

.FilterPopDim{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
}

.FilterPopSection{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
	border-radius:0.625rem 0.625rem 0 0;
	z-index:5;
	transform:translateY(110%);
	transition-property:transform; 
	transition-duration: 0.3s;
}

.FilterPop.is-View{
	opacity:1;
	visibility:visible;
}

.FilterPop.is-View .FilterPopSection{
	transform:translateY(0%);
}

.FilterPopHeader{
	padding:1.875rem 0;
	position:relative;
}

body .FilterPopHeader-reset{
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	font-size:0.75rem;
	line-height:1.4em;
	color:#000;
	z-index:5;
}

.FilterPopHeader-title{
	text-align:center;
	font-size:1rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
}

body .FilterPopHeader-close{
	width:1.25rem;
	height:1.25rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	z-index:5;
	background-image:url(../images/icon/ico_search_close.svg);
	background-size:1.25rem 1.25rem;
	font-size:0px;
	line-height:0;
	cursor:pointer;
}

.FilterPopFooter{
	padding:1.25rem 0;
}

.FilterPopFooter-button{
	padding: 1.0625rem 0.9375rem;
    border-radius: 0.25rem;
    background-color: #6957e8;
    color: #fff;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.FilterPopBody{
	max-height:calc(100vh - 21.875rem);
	overflow:hidden;
	overflow-y:auto;
	padding:0.625rem 1rem 1.25rem;
	margin-left:-1rem;
	margin-right:-1rem;
}


/*=========================================================
  FilterPop:Radio
=========================================================*/
.FilterPopList-item{
	margin-top:1.875rem;
}

.FilterPopList-item:first-child{
	margin-top:0;
}

.FilterRadio{
	position:relative;
	display:block;
}

.FilterRadio-input{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	font-size:12.5rem;
	opacity:0;
}

.FilterRadio-text{
	display:block;
	position:relative;
	padding-right:1.75rem;
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
}

.FilterRadio-text:after{
	content:"";
	width:1.375rem;
	height:1.375rem;
	background-image:url(../images/icon/ico_radio.svg);
	background-size:1.375rem 1.375rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.FilterRadio-input:checked + .FilterRadio-text{
	font-weight:bold;
	color:#6957e8;
}

.FilterRadio-input:checked + .FilterRadio-text:after{
	background-image:url(../images/icon/ico_radio_checked.svg);
}

/*=========================================================
  FilterPop:Checkbox
=========================================================*/
.FilterPopItem{
	margin-top:1.875rem;
}

.FilterPopItem:first-child{
	margin-top:0px;
}

.FilterPopItem-title{
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
	margin-bottom:1.875rem;
}

.FilterCheck{
	position:relative;
	display:block;
}

.FilterCheck-input{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	font-size:12.5rem;
	opacity:0;
}

.FilterCheck-text{
	display:block;
	position:relative;
	padding-right:1.75rem;
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
}

.FilterCheck-text:after{
	content:"";
	width:1.375rem;
	height:1.375rem;
	background-image:url(../images/icon/ico_checkbox.svg);
	background-size:1.375rem 1.375rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.FilterCheck-input:checked + .FilterCheck-text:after{
	background-image:url(../images/icon/ico_checkbox_checked.svg);
}

/*=========================================================
  FilterNumberPop
=========================================================*/
.FilterNumberList-item{
	margin-top:1.75rem;
}

.FilterNumberList-item:first-child{
	margin-top:0;
}

.FilterNumberList-inner{
	display:table;
	table-layout:fixed;
	width:100%;
}

.FilterNumberListTitle{
	display:table-cell;
	vertical-align:middle;
	width:55%;
}

.FilterNumberListCont{
	display:table-cell;
	vertical-align:middle;
	width:45%;
}

.FilterNumberListTitle-title{
	display:block;
	font-size:14px;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}

.FilterNumberListTitle-text{
	display:block;
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
}

/*=========================================================
  BasicCount
=========================================================*/
.BasicCount{
	width:100%;
	padding:0 1.625rem;
	text-align:center;
	position:relative;
}

.BasicCount-button{
	width:1.625rem;
	height:1.625rem;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	border-radius:100%;
	border:solid 0.0625rem #6957e8;
}

.BasicCount-button:before{
	content:"";
	width:0.0625rem;
	height:0.6875rem;
	background-color:#6957e8;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.BasicCount-button:after{
	content:"";
	width:0.6875rem;
	height:0.0625rem;
	background-color:#6957e8;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.BasicCount-button.minus:before{
	display:none;
}

.is-disabled.BasicCount-button{
	border-color:#E9E9E9;
}

.is-disabled.BasicCount-button:before{
	background-color:#E9E9E9;
}

.is-disabled.BasicCount-button:after{
	background-color:#E9E9E9;
}

.BasicCount-button.minus{
	left:0;
}

.BasicCount-button.plus{
	right:0;
}

.BasicCount-text{
	font-size:1rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}


/*=========================================================
  MapSection
=========================================================*/
.MapSection{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding-top:8.25rem;
	z-index:800;
	opacity:0;
	visibility:hidden;
	transition-property:opacity,visibility; 
	transition-duration: 0.2s;
}

.is-View.MapSection{
	opacity:1;
	visibility:visible;
}

.MapSection-map{
	position:absolute;
	top:8.25rem;
	left:0;
	right:0;
	bottom:0;
}

.MapSection-map iframe{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}

/*=========================================================
  MapSection:ListFixButton
=========================================================*/
.MapSectionInfo{
	position:absolute;
	bottom:1.25rem;
	left:0;
	right:0;
	z-index:50;
	text-align:center;
	font-size:0;
	line-height:0;
}

.ListFixButton{
	border-radius: 2.25rem;
	border: solid 0.0625rem #e0e0e0;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	padding: 0.625rem 1.1875rem 0.625rem 2.3125rem;
	background-color:#fff;
	display:inline-block;
	position:relative;
}

body .ListFixButton:before{
	content:"";
	width:0.875rem;
	height:0.875rem;
	position:absolute;
	top:50%;
	left:1.1875rem;
	transform:translateY(-50%);
	background-image:url(../images/icon/ico_maplist.svg);
	background-size:0.875rem 0.875rem;
}

/*=========================================================
  MapSection:MapList
=========================================================*/
.MapList{
	margin-top:1.25rem;
	border-radius:0.5rem 0.5rem;
	overflow:hidden;
	position:relative;
	box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.3);
	text-align:left;
}

.MapList-link{
	display:flex;
	height:8.125rem;
}

.MapListThumb{
	width:6.875rem;
	overflow:hidden;
	position:relative;
}

.MapListThumb img{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	height:100%;
}

.MapListCont{
	background-color:#fff;
	flex:1;
	padding:0.8125rem 0.75rem;
	position:relative;
}

.MapListContGrade-total{
	margin-left:0.125rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
}

.MapListCont-meta{
	font-size:0.75rem;
	line-height:1.4em;
	color:#6f6f6f;
	display:block;
	position:relative;
	padding-left:1.125rem;
	margin-bottom:0.5rem;
}

.MapListCont-meta:before{
	content:"";
	width:1rem;
	height:1rem;
	background-image:url(../images/icon/ico_hotel.svg);
	background-size:1rem 1rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

.MapListCont-title{
	margin-bottom:0.125rem;
	font-size:1rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
}

.MapListContGrade{
	margin-top:0.375rem;
	font-size:0;
	line-height:0;
}

.MapListContGrade-current{
	padding-left:1.5rem;
	position:relative;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
}

.MapListContGrade-current:before{
	content:"";
	width:1.25rem;
	height:1.25rem;
	background-image:url(../images/icon/ico_star.svg);
	background-size:1.25rem 1.25rem;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

.MapListCont-price{
	position:absolute;
	bottom:0.8125rem;
	right:0.75rem;
	font-size:1.25rem;
	line-height:1.2em;
	color:#6957e8;
	font-weight:bold;
	font-family: 'Roboto',"Noto Sans KR";
}

/*=========================================================
  MapSection:MapPin
=========================================================*/
.MapPin{
	position:absolute;
	z-index:5;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08);
}

.MapPin-count{
	position:absolute;
	top:-0.5rem;
	right:-0.5rem;
	font-size:0.625rem;
	border:solid 0.0625rem #d0d0d0;
	border-radius:100%;
	background-color:#fff;
	text-align:center;
	padding:0 0.1875rem;
	min-width:1.1875rem;
	z-index:5;
}

.MapPin-price{
	border:solid 0.0625rem #d0d0d0;
	background-color:#fff;
	padding:0.1875rem 0.875rem 0.25rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	border-radius:0.3125rem 0.3125rem;
	position:relative;
}

.MapPin-price:before{
	content:"";
	width:0.3125rem;
	height:0.3125rem;
	border-right:solid 0.0625rem #d0d0d0;
	border-bottom:solid 0.0625rem #d0d0d0;
	background-color:#fff;
	transform:translateX(-50%) rotate(45deg);
	position:absolute;
	bottom:-0.1875rem;
	left:50%;
}


.MapPin.is-Active .MapPin-count{
	font-size:0.75rem;
	border-color:#6957e8;
	color:#6957e8;
	top:-0.75rem;
	right:-0.5rem;
}

.MapPin.is-Active .MapPin-price{
	font-size:1rem;
	font-weight:bold;
	border-color:#6957e8;
	color:#fff;
	background-color:#6957e8;
	border-radius:1rem 1rem;
}

.MapPin.is-Active .MapPin-price:before{
	border-color:#6957e8;
	background-color:#6957e8;
	width:0.625rem;
	height:0.625rem;
	bottom:-0.3125rem;
}