.main {
  background-color: rgb(190, 190, 190);
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.subMain {
  max-width: 50rem;
  background: #fff;
  margin: 0 auto;
  position: relative;
}
