.bottomNav {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomNav2 {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bnTab {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
