.Modal {
  max-width: 48rem;
  background: rgb(142, 231, 243);
  margin: 0 auto;
  position: fixed;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: -10px;
  z-index: 200;
  left: 0;
  right: 0;
  bottom: 0;
}

.Overlay {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #00ff0000;
  z-index: 2000;
}

/*=========================================================
  CalenderPop
=========================================================*/
.CalenderPop{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2000;
	background-color:#f8f8f8;
	/* transform:translateY(110%); */
	transition-property:transform; 
	transition-duration: 0.3s;
}

.CalenderPop.is-View{
	transform:translateY(0);
}

/*=========================================================
  CalenderPop:header
=========================================================*/
.CalenderPopHeader{
	position:absolute;
	top:0;
	left:0;
	right:0;
	background-color:#fff;
	box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.08);
	z-index:10;
}

.CalenderPopHeaderTitle{
	position:relative;
	padding:1.5625rem 2.5rem;
}

.CalenderPopHeaderTitle-title{
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
	text-align:center;
}

.CalenderPopHeaderTitle-close{
	width:1.375rem;
	height:1.375rem;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	background-image:url(../public/icon/ico_close_black.svg);
	background-size:1.375rem 1.375rem;
}

.CalenderHeader{
	padding:0.3125rem 0 0.625rem;
	display: flex;
    justify-content: center;
}


.CalenderHeader-day{
	width:14.2857%;
	text-align:center;
	font-size:0.875rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
}

.CalenderHeader-day:first-child{
	color:#f10000;
}

.CalenderHeader-day:last-child{
	color:#0066ff;
}

/*=========================================================
  CalenderPop:footer
=========================================================*/
.CalenderPopFooter{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	box-shadow: 0 -0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
	z-index:10;
}

.CalenderPopFooterCheck{
	padding:1.25rem 0 0.625rem;
	position:relative;
}

.CalenderPopFooterCheck:before{
	content:"";
	width:2.125rem;
	height:2.125rem;
	position:absolute;
	bottom:0.3125rem;
	left:50%;
	transform:translateX(-50%);
	background-image:url(../public/icon/ico_check_arrow.svg);
	background-size:2.125rem 2.125rem;
}

.CalenderPopFooterCheck:after{
	content:"";
	display:table;
	clear:both;
}

.CalenderPopFooterCheck-item.Start{
	float:left;
}

.CalenderPopFooterCheck-item.End{
	float:right;
	text-align:right;
}

.CalenderPopFooterCheck-day{
	font-size:1rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
}

.CalenderPopFooterCheck-text{
	font-size:1.25rem;
	line-height:1.2em;
	color:#000;
	font-weight:bold;
	font-family:'Roboto',"Noto Sans KR";
	margin-right:0.3125rem;
}

.CalenderPopFooterCheck-title{
	font-size:0.75rem;
	line-height:1.2em;
	color:#666;
	margin-bottom:0.125rem;
}

.CalenderPopFooterBtn{
	padding:1.25rem 0;
}

.CalenderPopFooterBtn-button{
	padding: 1.0625rem 0.9375rem;
    border-radius: 0.25rem;
    background-color: #6957e8;
    color: #fff;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.CalenderPopFooterinfo{
	padding: 1.0625rem 0.9375rem;
    border-radius: 0.25rem;
    background-color: #f8f8f8;
    color: #a5a5a5;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.CalenderPopFooter-title{
	font-size:1rem;
	line-height:1.5em;
	color:#000;
	font-weight:bold;
}

/*=========================================================
  CalenderPop:Body
=========================================================*/
.CalenderPopBody{
	padding-top:8.125rem;
	padding-bottom:11.25rem;
	overflow:hidden;
	overflow-y:auto;
	height:100%;
    scrollbar-width: none;
}

.CalenderPopBody::-webkit-scrollbar {
    display: none;
}

/*=========================================================
  CheckCalender
=========================================================*/
.CheckCalender{
	margin-bottom:1.75rem;
}

.CheckCalender:last-child{
	margin-bottom:0;
}

.CheckCalenderHeader{
	font-size:0.875rem;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
	text-align:center;
	margin-bottom:0.9375rem;
}

.CheckCalenderBody-row{
	display: flex;
}

.CheckCalenderBody-col{
	width:14.2857%;
	text-align:center;
	position:relative;
}

.CheckCalenderBody-item{
	width:100%;
	height:40px;
	border:solid 0.0625rem transparent;
	border-left:none;
	border-right:none;
}

.CheckCalenderBody-text{
	font-size:1rem;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	font-family:'Roboto',"Noto Sans KR";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.CheckCalenderBody-text:disabled{
	font-size:1rem;
	line-height:1.2em;
	color:rgb(153, 153, 153);
	font-weight:500;
	font-family:'Roboto',"Noto Sans KR";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.CheckCalenderBody-col:first-child .CheckCalenderBody-text{
	color:#f10000;
}

.CheckCalenderBody-col:last-child .CheckCalenderBody-text{
	color:#0066ff;
}

.CheckCalenderBody-col:first-child .CheckCalenderBody-text:disabled{
	color:rgb(153, 153, 153);
}

.CheckCalenderBody-col:last-child .CheckCalenderBody-text:disabled{
	color:rgb(153, 153, 153);
}

/*Start*/
.is-Start .CheckCalenderBody-item{
	width:100%;
	height:40px;
	border:solid 0.0625rem transparent;
	border-right:none;
	background-color:#fff;
	border-color:#5f7bff;
	border-left:solid 1px #5f7bff;
	border-radius:2.5rem 0 0 2.5rem;
	box-shadow: 0px 0.125rem 0px rgb(0 0 0 / 10%);
}

.is-Start.is-Checking .CheckCalenderBody-item{
	width:100%;
	height:40px;
	border:solid 0.0625rem transparent;
	border-left:none;
	border-right:solid 1px #5f7bff;
	border-radius:2.5rem 2.5rem;
}

.is-Start .CheckCalenderBody-text{
	color:#5f7bff;
	font-size:1rem;
	line-height:1.2em;
	font-weight:500;
	font-family:'Roboto',"Noto Sans KR";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/*End*/
.is-End .CheckCalenderBody-item{
	width:100%;
	height:40px;
	border:solid 0.0625rem transparent;
	border-left:none;
	background-color:#fff;
	border-color:#5f7bff;
	border-right:solid 1px #5f7bff;
	border-radius:0 2.5rem 2.5rem 0;
	box-shadow: 0px 0.125rem 0px rgb(0 0 0 / 10%);
}

.is-End .CheckCalenderBody-text{
	font-size:1rem;
	line-height:1.2em;
	font-weight:500;
	font-family:'Roboto',"Noto Sans KR";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color:#5f7bff;
}

/*Long*/
.is-Long .CheckCalenderBody-item{
	width:100%;
	height:40px;
	border:solid 0.0625rem transparent;
	border-left:none;
	border-right:none;
	background-color:#fff;
	border-color:#5f7bff;
	box-shadow: 0px 0.125rem 0px rgb(0 0 0 / 10%);
}

.is-Long .CheckCalenderBody-text{
	font-size:1rem;
	line-height:1.2em;
	font-weight:500;
	font-family:'Roboto',"Noto Sans KR";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color:#5f7bff;
}