.container {
  position: relative;
  width: calc(150px * 4);
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  transform: translateY(5rem);
  opacity: 1;
}

.slideBtn {
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}