.Modal {
  min-height: 100%;
  max-width: 50rem;
  background: rgb(142, 231, 243);
  margin: 0 auto;
  position: relative;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 100px;
}

.Overlay {
  position: fixed;
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #00ff0000;
}

@media screen and (max-width: 480px) {
  .Modal {
    min-height: 100%;
    max-width: 50rem;
    background: rgb(142, 231, 243);
    margin: 0 auto;
    position: relative;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: -10px;
  }
}
