.Modal {
  position: fixed;
  padding: 15px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.container {
  max-width: 50rem;
  background: #fff;
  margin: 0 auto;
  position: relative;
}
