.ListFilterButton_item {
  display: inline-block;
  padding: 0 0.125rem;
}

body .ListFilterButton_filter {
  border-radius: 1rem;
  border: solid 0.0625rem #e0e0e0;
  font-size: 0.75rem;
  line-height: 1.2em;
  color: #000;
  font-weight: 500;
  padding: 0.5rem 0.625rem 0.5rem 1.75rem;
  position: relative;
}

body .ListFilterButtonItem_select {
  border-radius: 1rem;
  border: solid 0.0625rem #e0e0e0;
  font-size: 0.75rem;
  line-height: 1.2em;
  color: #000;
  font-weight: 500;
  padding: 0.5rem 1.875rem 0.5rem 0.625rem;
  position: relative;
  text-align: left;
  background-image: url(../public/icon/ico_search_arrow.svg);
  background-position: calc(100% - 0.625rem) center;
  background-repeat: no-repeat;
  background-size: 0.875rem 0.875rem;
  cursor: pointer;
}

body .ListFilterButton_filter:before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-image: url(../public/icon/ico_filter.svg);
  background-size: 0.875rem 0.875rem;
}

.ListFilterValue_list::after {
  content: "";
  display: table;
  clear: both;
}

.ListFilterValue_list {
  margin: 0 -0.25rem;
}

.ListFilterValue_item {
  width: 50%;
  float: left;
  padding: 0 0.25rem;
}

body .ListFilterValueItem {
  font-size: 12px;
  line-height: 1.2em;
  color: #000;
  padding: 0.5625rem 0.5rem 0.5625rem 2.25rem;
  border-radius: 0.25rem;
  background-color: #f8f8f8;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
}

.ListFilterValueItem_icon {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  background-size: 1.25rem 1.25rem;
}

.FilterPopBody {
  max-height: calc(100vh - 21.875rem);
  overflow: hidden;
  overflow-y: auto;
  padding: 0.625rem 1rem 1.25rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

/*=========================================================
  FilterNumberPop
=========================================================*/
.FilterNumberList_item {
  margin-top: 1.75rem;
}

.FilterNumberList_item::first-child {
  margin-top: 0;
}

.FilterNumberList_inner {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.FilterNumberListTitle {
  display: table-cell;
  vertical-align: middle;
  width: 55%;
}

.FilterNumberListCont {
  display: table-cell;
  vertical-align: middle;
  width: 45%;
}

.FilterNumberListTitle_title {
  display: block;
  font-size: 14px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}

.FilterNumberListTitle_text {
  display: block;
  font-size: 0.75rem;
  line-height: 1.4em;
  color: #6f6f6f;
}

/*=========================================================
  BasicCount
=========================================================*/
.BasicCount {
  width: 100%;
  padding: 0 1.625rem;
  text-align: center;
  position: relative;
}

.BasicCount_button_plus {
  right: 0;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  border: solid 0.0625rem #6957e8;
}
.BasicCount_button_minus {
  left: 0;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  border: solid 0.0625rem #6957e8;
}

.BasicCount_button_plus::before {
  content: "";
  width: 0.0625rem;
  height: 0.6875rem;
  background-color: #6957e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BasicCount_button_plus::after {
  content: "";
  width: 0.6875rem;
  height: 0.0625rem;
  background-color: #6957e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BasicCount_button_minus::before {
  content: "";
  width: 0.0625rem;
  height: 0.6875rem;
  background-color: #6957e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BasicCount_button_minus::after {
  content: "";
  width: 0.6875rem;
  height: 0.0625rem;
  background-color: #6957e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BasicCount_button_minus::before {
  display: none;
}

.is-disabled.BasicCount_button_plus {
  border-color: #e9e9e9;
}

.is-disabled.BasicCount_button_plus:before {
  background-color: #e9e9e9;
}

.is-disabled.BasicCount_button_plus::after {
  background-color: #e9e9e9;
}

.BasicCount_text {
  font-size: 1rem;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}

.ab_text {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
}

/*=========================================================
  FilterPop
=========================================================*/
.FilterPop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1100;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.FilterPopDim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.FilterPopSection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0.625rem 0.625rem 0 0;
  z-index: 5;
  transform: translateY(110%);
  transition-property: transform;
  transition-duration: 0.3s;
}

.FilterPop.is-View {
  opacity: 1;
  visibility: visible;
}

.FilterPop.is-View .FilterPopSection {
  transform: translateY(0%);
}

.FilterPopHeader {
  padding: 1.875rem 0;
  position: relative;
}

body .FilterPopHeader_reset {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.75rem;
  line-height: 1.4em;
  color: #000;
  z-index: 5;
}

.FilterPopHeader_title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.2em;
  color: #000;
  font-weight: bold;
}

body .FilterPopHeader_close {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 5;
  background-image: url(../public/icon/ico_search_close.svg);
  background-size: 1.25rem 1.25rem;
  font-size: 0px;
  line-height: 0;
  cursor: pointer;
}

.FilterPopFooter {
  padding: 1.25rem 0;
}

.FilterPopFooter_button {
  padding: 1.0625rem 0.9375rem;
  border-radius: 0.25rem;
  background-color: #6957e8;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

/*=========================================================
  FilterPop:Radio
=========================================================*/
.FilterPopList_item {
  margin-top: 1.875rem;
}

.FilterPopList_item::first-child {
  margin-top: 0;
}

.FilterRadio {
  position: relative;
  display: block;
}

.FilterRadio_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  font-size: 12.5rem;
  opacity: 0;
}

.FilterRadio_text {
  display: block;
  position: relative;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
}

.FilterRadio_text::after {
  content: "";
  width: 1.375rem;
  height: 1.375rem;
  /* background-image: url(../public/icon/ico_radio.svg); */
  background-size: 1.375rem 1.375rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.FilterRadio_input:checked + .FilterRadio-text {
  font-weight: bold;
  color: #6957e8;
}

.FilterRadio_input:checked + .FilterRadio-text:after {
  /* background-image: url(../images/icon/ico_radio_checked.svg);  */
}

/*=========================================================
  FilterPop:Checkbox
=========================================================*/
.FilterPopItem {
  margin-top: 1.875rem;
}

.FilterPopItem:first-child {
  margin-top: 0px;
}

.FilterPopItem-title {
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.FilterCheck {
  position: relative;
  display: block;
}

.FilterCheck_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  font-size: 12.5rem;
  opacity: 0;
}

.FilterCheck_text {
  display: block;
  position: relative;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
}

.FilterCheck_text:after {
  content: "";
  width: 1.375rem;
  height: 1.375rem;
  background-image: url(../public/icon/ico_checkbox.svg);
  background-size: 1.375rem 1.375rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.FilterCheck_input:checked + .FilterCheck_text:after {
  background-image: url(../public/icon/ico_checkbox_checked.svg);
}
