.main {
  min-height: 100%;
  max-width: 50rem;
  background: #fff;
  margin: 0 auto;
  position: relative;
}

.background {
  background-color: rgb(190, 190, 190);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.subMain {
  min-height: 30vh;
  padding: 4rem 0;
  margin: 0;
  padding: 0;
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
