/*=========================================================
  MapSection:MapPin
=========================================================*/
.MapPin{
	position:relative;
	z-index:5;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08);
}

.MapPin_count{
	position:absolute;
	top:-0.5rem;
	right:-0.5rem;
	font-size:0.625rem;
	border:solid 0.0625rem #d0d0d0;
	border-radius:100%;
	background-color:#fff;
	text-align:center;
	padding:0 0.1875rem;
	min-width:1.1875rem;
	z-index:5;
}

.MapPin_price{
	border:solid 0.0625rem #d0d0d0;
	background-color:#fff;
	padding:0.1875rem 0.875rem 0.25rem;
	font-size:0.75rem;
	line-height:1.2em;
	color:#000;
	border-radius:0.3125rem 0.3125rem;
	position:relative;
}

.MapPin_price:before{
	content:"";
	width:0.3125rem;
	height:0.3125rem;
	border-right:solid 0.0625rem #d0d0d0;
	border-bottom:solid 0.0625rem #d0d0d0;
	background-color:#fff;
	transform:translateX(-50%) rotate(45deg);
	position:absolute;
	bottom:-0.1875rem;
	left:50%;
}


.is_Active_MapPin_count{
	font-size:0.75rem;
	border-color:#6957e8;
	color:#6957e8;
	top:-0.75rem;
	right:-0.5rem;
}

.is_Active_MapPin_price{
	font-size:1rem;
	font-weight:bold;
	border-color:#6957e8;
	color:#fff;
	background-color:#6957e8;
	border-radius:1rem 1rem;
}

.is_Active_MapPin_price:before{
	border-color:#6957e8;
	background-color:#6957e8;
	width:0.625rem;
	height:0.625rem;
	bottom:-0.3125rem;
}

.MapSection{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding-top:8.25rem;
	z-index:800;
	opacity:0;
	visibility:hidden;
	transition-property:opacity,visibility; 
	transition-duration: 0.2s;
}

.MapSection_map{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
  width:100% !important;
	height:300px !important;
}

.MapSection-map iframe{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}