.ListFilterButton_item {
  display: inline-block;
  padding: 0 0.125rem;
}

.ListFilterButtonItem_select {
  border-radius: 1rem;
  border: solid 0.0625rem #e0e0e0;
  font-size: 0.75rem;
  line-height: 1.2em;
  color: #000;
  font-weight: 500;
  padding: 0.5rem 1.875rem 0.5rem 0.625rem;
  position: relative;
  text-align: left;
  /* background-image:url(../images/icon/ico_search_arrow.svg); */
  background-position: calc(100% - 0.625rem) center;
  background-repeat: no-repeat;
  background-size: 0.875rem 0.875rem;
  cursor: pointer;
}
