.Modal {
  /* position: absolute;
  top: 40%;
  left: 35%;
  right: 35%;
  bottom: 40%;
  background-color: rgb(228, 9, 9);
  border-radius: 10px; */
  background: white;
  width: 10%;
  height: 20%;
  border-radius: 15px;
  padding: 15px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 480px) {
  .Modal {
    background: white;
    width: 50%;
    height: 30%;
    border-radius: 15px;
    padding: 15px;
  }
}
