.header {
  padding-top: 10px;
  padding-left: 5%;
}

.header_recent {
  display: flex;
  align-items: center;
  background-color: white;
}

.header_autoCompt {
  padding-top: 20px;
}

.site_container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
  padding-top: 6.375rem;
}

/*=========================================================
  Total Search
=========================================================*/
.TotalSearch {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 00; */
  background-color: #fff;
  padding: 8.125rem 0 3.125rem;
  overflow: hidden;
  overflow-y: auto;
  display: block;
}

.is_Focus.TotalSearch {
  display: block;
}

.TotalSearch_noTag {
  padding: 5rem 2.625rem 0;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #6f6f6f;
  text-align: center;
}

/*=========================================================
  Total Search:최근검색어
=========================================================*/
.TotalSearchRecent {
  padding: 1.875rem 0 0;
}

.TotalSearchRecentHeader {
  margin-bottom: 1.875rem;
  position: relative;
}

.TotalSearchRecentHeader_title {
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}

body .TotalSearchRecentHeader_close {
  font-size: 0.75rem;
  line-height: 1.4em;
  color: #000;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.TotalSearchRecentList_item {
  margin-top: 1.25rem;
  position: relative;
}

.TotalSearchRecentList_item:first-child {
  margin-top: 0;
}

.TotalSearchRecentList_link {
  display: block;
  position: relative;
  padding-left: 1.625rem;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 1.625rem);
}

.TotalSearchRecentList_link::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../public/icon/ico_time.svg);
  background-size: 1.25rem 1.25rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.TotalSearchRecentList_del {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../public/icon/ico_del.svg);
  background-size: 1.25rem 1.25rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.TotalSearchRecent_noTag {
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #6f6f6f;
  text-align: center;
}

/*=========================================================
  Total Search:관련검색어
=========================================================*/
.TotalSearchRelated {
  padding: 1.875rem 0 0;
}

.TotalSearchRelatedHeader {
  margin-bottom: 1.875rem;
  position: relative;
}

.TotalSearchRelatedHeader_title {
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}

.TotalSearchRelatedList_item {
  margin-top: 1.0625rem;
  position: relative;
}

.TotalSearchRelatedList_item::first-child {
  margin-top: 0;
}

.TotalSearchRelatedList_link {
  display: block;
  position: relative;
  padding-left: 1.625rem;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TotalSearchRelatedList_link mark {
  color: #6957e8;
  background: none;
}

.TotalSearchRelatedItem {
  margin-top: 1.875rem;
}

.TotalSearchRelatedItem::first-child {
  margin-top: 0px;
}

.TotalSearchRelatedItemTitle {
  position: relative;
  font-size: 0.75rem;
  line-height: 1.4em;
  color: #6f6f6f;
  margin-bottom: 1.25rem;
  padding-left: 1.625rem;
}

.TotalSearchRelatedItemTitle::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../public/icon/ico_related.svg);
  background-size: 1.25rem 1.25rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
