.header {
  padding-top: 10px;
  padding-left: 5%;
}

.header_recent {
  display: flex;
  align-items: center;
  background-color: white;
}

.header_autoCompt {
  padding-top: 20px;
}

.site_container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
  padding-top: 9.375rem;
}
