
.modalBody {
  display: flex;
}

.leftDetail{
  margin-right: 30px;
}

.formHeader {
  height: auto;
  border-bottom: 2px solid #eaeaea;
}

.starPoint {
  margin-left: 10px;
  font-size: 30px;
}

.progressBarForm{
  display: flex;
}

.cardHeader{
 display: flex;
}

.cardImg{
  height: 56px; width: 56px;
}

.cardBody{
  line-height: 24px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}