.scrollTop {
  position: fixed;
  bottom: 90px;
  left: 90%;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .scrollTop {
    position: fixed;
    bottom: 5%;
    left: 85%;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
