.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.site_body {
  flex: 1;
}

.site_container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
}

.site_container::after {
  content: "";
  display: table;
  clear: both;
}

/*=========================================================
  ProductList
=========================================================*/
.ProductList {
  padding-top: 9.375rem;
  padding-bottom: 11.25rem;
}

.ProductList_item {
  margin-top: 1rem;
}

.ProductList_item::first-child {
  margin-top: 0;
}

/*=========================================================
  ListFilter:ListFilterButton
=========================================================*/
.ListFilterButton {
  margin-top: 0.625rem;
  font-size: 0;
  line-height: 0;
  text-align: right;
}

.ListFilterButton_list {
  margin: 0 -0.125rem;
}

.ListFilterButton_list::after {
  content: "";
  display: table;
  clear: both;
}

/*=========================================================
  ListFilter:ListFilterValue
=========================================================*/
.ListFilter {
  padding-top: 1rem;
  padding-bottom: 0.625rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.14);
  z-index: 1000;
}

.ListFilterValue {
  margin-top: 0.625rem;
}

.ListFilterValue_list::after {
  content: "";
  display: table;
  clear: both;
}

.ListFilterValue_list {
  margin: 0 -0.25rem;
}

/*=========================================================
  Total Search
=========================================================*/
.TotalSearch {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  display: block;
}

.is_Focus {
  display: block;
}

.TotalSearch_noTag {
  padding: 5rem 2.625rem 0;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: #6f6f6f;
  text-align: center;
}

/*=========================================================
  ProductList:Slide
=========================================================*/
.ProductSlide {
  position: relative;
}

.ProductSlide_thumb {
  width: 100%;
}

.ProductSlide_link {
  display: block;
  overflow: hidden;
  line-height: 0;
  position: relative;
}

.ProductSlide_link:after {
  content: "";
  display: block;
  padding-bottom: 42%;
}

.ProductSlide_link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40%;
  opacity: 0.6;
  mix-blend-mode: multiply;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000 31%);
  z-index: 1;
}

.ProductSlide_link_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.ProductSlide_pagination {
  position: absolute;
  bottom: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.ProductSlide_pagination .swiper-pagination-bullet {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 100%;
  background-color: #fff;
  display: inline-block;
  margin: 0 0.125rem;
}

.ProductSlide_pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #6957e8;
}
